@use "mixIns";
@use "colors";
@use "fonts";
@use "functions";
@use "border";
@use "gaps";
@use "vars";

// ! 컴파일 이슈 때문에 명시적으로 적어놓은 임포트
@import url(./border.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./functions.css);
@import url(./gaps.css);
@import url(./mixIns.css);
@import url(./vars.css);

body {
  @include mixIns.create_contents_container(100%, 500vh);
  overflow: vars.$overflow_hidden;
}

//* 현재 페이지의 container
.main_container {
  @include mixIns.create_contents_container(100%, 500vh);

  //* Header 영역.
  .contents_header {
    @include mixIns.create_contents_container(100vw, 5vh);

    /**
    * * .header_navigator는 부모크기를 그대로 받는다.
    * * .flex_basic_layout()을 설정
    * * 자식인 .main_logo_container와 .menus_container는 각각 크기를 20%, 80%로 설정하였기에 1:4의 비율이된다.
    */
    .header_navigator {
      @include mixIns.flex_basic_layout();
      @include mixIns.create_contents_container(100%, 100%);

      .main_logo_container {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(20%, 100%);

        //* 해당 span에 대한 cursor가 변경되게함.
        > span:first-child {
          cursor: vars.$cursor_pointer;
        }
      }

      /**
      * * Tap 메뉴들에 해당.
      */
      .menus_container {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(80%, 100%);

        
        //* 해당 탭들을 리스트로 구성한다. 
        > ul:first-child {
          @include mixIns.create_contents_container(100%, 100%);
          
          //* end로 설정하여 끝에서부터 해당 리스트가 쌓일 거임.
          @include mixIns.flex_basic_layout(row, end);

          //* 리스트의 스타일 지정.
          list-style-type: vars.$list_style_type_none;
          margin: vars.$margin0;
          padding: vars.$padding0;

          //* 각 리스트마다. 10%의 크기를 가진다. 부모가 전체의 80%에 해당되는 총 8개의 탭을 만들 수 있음.
          > li {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(10%, 100%);

            > span {
              cursor: vars.$cursor_pointer;
            }
          }
        }
      }
    }
  }

  //* Main 영역
  .contents_main {
    @include mixIns.flex_basic_layout(column);
    @include mixIns.create_contents_container(100%, 95vh);

    /**
    * * .content_main의 첫 번째 <section> 자식에 대한 설정.
    * * 너비는 50vw, 높이는 50vh를 차지함.
    */ 
    section:first-child {
      @include mixIns.flex_basic_layout(column);
      @include mixIns.create_contents_container(50vw, 50vh);

      //* search 레이아웃 Wrapper부분.
      .search_form {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(100%, 50%);
        
        //* 실질적인 search에 관한 Container. dirction의 row이며 가운데 정렬이 되도록함.
        .form_contents_container {
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(90%, 30%);

          // * 국가 선택 창에 해당됨. 20%의 너비를 차지하고 높이는 80을 차지
          .form_contents_container_first_div {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(20%, 80%);

            > select:first-child {
              @include mixIns.create_contents_container(100%, 100%);
              cursor: vars.$cursor_pointer;
            }
          }

          // * 국가 선택과 아이디 검색 창 사이의 구분선에 해당
          .form_contents_container_second_div {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(3%, 80%);
          }

          // * 아이디 검색 창
          .form_contents_container_third_div {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(70%, 80%);

            > input:first-child {
              @include mixIns.create_contents_container(100%, 80%);
            }
          }

          // * 돋보기 아이콘, 클릭 시 넘어가게
          .form_contents_container_fourth_div {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(7%, 80%);

            > i:first-child {
              @include mixIns.flex_basic_layout();
              @include mixIns.create_contents_container(70%, 80%);
              cursor: vars.$cursor_pointer;
            }
          }
        }
      }
    }
  }
}
// 994
