/* 
todo, 색 변수를 또 가르면 ? 
* -> h1 태그에 전부 $color-black-font로 처리했으면 다른 색으로 바꿀 때 싹 다 바꿔야됨
? -> EX) test_h1 { color: $color-black-font } ... test_h10 { color: $color-black-font }
* -> 갈랐을 때 ?
? -> EX) $h1: $color-black-font -> test_h1 { color: $h1 } ... test_h10 { color: $h1 }

 */
$--teal500 : #00BBA3;
$color-black-bg: black;
$color-light-gray-bg: rgb(165, 165, 165);
$color-more-light-gray-bg: rgb(211, 211, 211);
$color-red-bg: red;
$color-white-bg: white;
$color-blue-bg: blue;
$color-pink-bg: pink;
$color-aqua-bg: aqua;
$color-light-red-bg: rgba(151, 50, 50, 0.589);

$color-black-font: black;
$color-light-gray-font: rgb(165, 165, 165);
$color-more-light-gray-font: rgb(211, 211, 211);
$color-red-font: red;
$color-white-font: white;
$color-blue-font: blue;
$color-pink-font: pink;
$color-aqua-font: aqua;
$color-light-red-font: rgba(151, 50, 50, 0.589);

$color-for-win-record: rgb(103, 138, 235);
$color-for-lose-record: rgb(255, 68, 68);

$color-user-profile-background: #31313C;
$color-user-profile-detail-background: #212121;

$color-rank-tier-gold : #E6DF8D;
$color-contents-main : #1C1C1F;


// * .header_navigator에 대한 배경 컬러 지정
.header_navigator {
  background-color: $color-light-red-bg;
}

// * .form_contents_container,
// * 자손들 중 .form_contents_container_first_div_select, .from_contents_container_third_div 배경 컬러 지정
.form_contents_container {
  background-color: $color-more-light-gray-bg;

  .form_contents_container_first_div_select {
    background-color: $color-more-light-gray-bg;
  }

  // * _form_contents_container_third_div의 자손들 중 모든 .search_form_input 클래스는 해당 배경 컬러를 따른다.
  .form_contents_container_third_div {
    .search_form_input {
      background-color: $color-more-light-gray-bg;
    }
  }
}

//* .menus_container의 폰트의 색깔을 지정한다.
.menus_container {
  color: $color-white-font;
}

//* .left_section_border_line의 배경 색 지정
// .left_section_border_line {
//   background-color: $color-light-gray-bg;
// }

//* .class_for_win_record의 배경 색 지정
.class_for_win_record {
  background-color: $color-for-win-record;
}

//* .class_for_lose_record의 배경 색 지정
.class_for_lose_record {
  background-color: $color-for-lose-record;
}


/**
* * 2024.05.05 황재민
* * L-2 User 레이아웃 색깔 지정
*/

.main_container{
  background-color: $color-contents-main;
}

.left_section_container{
  > div {
    background-color: $color-user-profile-background;
  }
}

.main_h1_color {
  color : $color-white-font;
}

.sub_h1_color{
  color : $color-light-gray-font;
}