@import "./border.scss", "./colors.scss", "./functions.scss", "./mixins.scss", "./fonts.scss", "./extends.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: min-content;
}

#root {
  width: 100vw;
  height: 100vh;

  @include flex_basic_layout(row, flex-start);

  >div:first-child {
    @include MainContainer(300px, 100%);
    @include flex_basic_layout(column, flex-start, flex-start);
    background-color: $color-user-profile-background;
  }

  >div:last-child {
    @include MainContainer(1620px, 100%);
    @include flex_basic_layout(column, flex-start);
    background-color: $color-user-profile-detail-background;

    >#header {
      @include MainContainer(100%, 117px);
      display: grid;
      grid-template-columns: 8fr 1fr;

      //* 폰트 나타내기, 팀 로고
      >div:first-child {
        @include MainContainer(0, 100%);
        width: min-content;
        margin-top: 20px;
        font-family: "Noto+Sans+KR", sans-serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        font-size: $font-size70;
        color: white;
        margin-left: 2.5rem
      }

    }

    //* Main 주 메뉴
    >#main {
      @include MainContainer(100%, 852px);
      @include flex_basic_layout();
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    #main::-webkit-scrollbar {
      width: 0px;
    }

    >#foot {
      @include MainContainer(100%, 105px);
      @include flex_basic_layout();
      min-height: 44px;
      ;

      >#search {
        width: 93%;
        height: 44px;
        margin: 0 auto;
        padding: 0 1.5rem;
        border: 2px solid rgba(255, 255, 255, 0.4);
        //  border-radius: $border_radius15;
        background-color: $color-user-profile-background;
        margin-bottom: 20px;
      }
    }
  }
}


//* Stat 부분의 Profile, Tier 이미지 설정
.icon_img {
  @include MainContainer(156px, 156px, 22px);
  @include flex_basic_layout();

  >img:first-child {
    overflow: hidden;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: $border_radius15;
  }
}


.short_menu_column {
  width: 100%;
  height: min-content;
  margin-top: 20px;
  @include flex_basic_layout(column, flex-start, center);

  >div:first-child {
    font-size: $font-size30;
    font-family: "Noto+Sans+KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
    color: $color-white-font;
    margin-top: 10px;
    background: rgba(0, 0, 0, .5);
    padding: 13px 25px;
    border-radius: 50px;
  }
}

.short_menu_column_child {
  width: 100%;
  height: min-content;
  @include flex_basic_layout(row, space-between, center);

  >div:first-child {
    width: 80%;
  }

  >img {
    width: 10%;
    overflow: hidden;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}


#stat {
  display: none;
  @include MainContainer(1505px, 800px);
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin:10px 0 10px 0;
  padding: 10px;
  >div {
    width: 100%;
  }

  //* 첫 번째 행
  >div:nth-child(1) {
    height: TransPixelToVH(182px);
    @include flex_basic_layout(row, space-between);
    min-height: min-content;

    //* 첫 번째 행 부분에서, 프로필 부분.
    >div:first-child {
      @include MainContainer(1005px, 100%);
      @include flex_basic_layout();
      background-color: $color-user-profile-background;

      >div:first-child {
        @include MainContainer(958px, 156px);
        @include flex_basic_layout(row, flex-start);
        @extend %img_plus_detail;
      }
    }

    >div:last-child {
      @include MainContainer(486px, 100%);
      @include flex_basic_layout();
      background-color: $color-user-profile-background;

      >div:first-child {
        @include MainContainer(436px, 156px);
        @include flex_basic_layout(row, flex-start);
      }
    }

  }

  >div:nth-child(2) {
    height: TransPixelToVH(396px);
    @include flex_basic_layout(row, center);
    background-color: $color-user-profile-background;

    >div {
      // @include MainContainer(700px, 344px);
      @include flex_basic_layout(column);
      background-color: #282830;
      margin: 0 20px 0 20px;

      >div {
        @include MainContainer(700px, 54px);
        @include flex_basic_layout(column, flex-start, center);
        background-color: #282830;
        border-radius: 0;
      }

      //* 최근 매칭 컬럼 속성
      >div:nth-child(1) {
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: TransPixelToVW(134px) TransPixelToVW(223px) TransPixelToVW(135px) TransPixelToVW(208px);
        grid-template-rows: 100%;
        // margin-bottom: 10px;

        >div {
          text-align: center;
        }

        >div:nth-child(2) {
          text-align: start;
        }
      }

      >div:nth-child(n+2):nth-child(-n+5) {
        border-bottom: 0.5px solid black;
      }

      >div:nth-child(n+2):nth-child(-n+6) {
        display: grid;
        grid-template-columns: TransPixelToVW(80px) TransPixelToVW(54px) TransPixelToVW(223px) TransPixelToVW(135px) TransPixelToVW(208px);
        grid-template-rows: 100%;

        >div {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          justify-content: center;
        }

        >div:nth-child(1) {
          @include flex_basic_layout();

          >img:nth-child(1) {
            height: 95%;
            overflow: hidden;
            aspect-ratio: 1/1;
            object-fit: contain;
            border-radius: $border_circle;
          }
        }

        >div:nth-child(2) {
          padding: 2px;
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2px;

          >div {
            width: 100%;
            height: 100%;

            >img {
              width: 100%;
              overflow: hidden;
              aspect-ratio: 1/1;
              object-fit: contain;
            }
          }
        }

        >div:nth-child(n+3):nth-child(-n+4) {
          @include flex_basic_layout(column, flex-start, flex-start);

          >div:first-child {
            height: 50%;
            width: 100%;
          }

          >div:last-child {
            height: 50%;
            width: 100%;
          }
        }

        >div:nth-child(3) {
          >div {
            @include flex_basic_layout(row, flex-start, center);
            margin-left: 2px;
          }
        }

        >div:nth-child(4) {
          >div {
            @include flex_basic_layout();
          }

          >div:last-child {
            @include flex_basic_layout();

            >div:first-child {
              width: 80%;
              height: 30%;
              background-color: $color-light-gray-bg;
              border-radius: $border_radius15;

              >div:first-child {
                width: 55%;
                height: 100%;
                background-color: $--teal500;
                border-radius: $border_radius15;
              }
            }
          }
        }


        >div:nth-child(5) {
          @include flex_basic_layout(row, space-between);

          >div {
            @include flex_basic_layout(column, flex-start, flex-start);
            width: min-content;
            height: 100%;
            padding: 0 5px;

            >div {
              width: 100%;
              @include flex_basic_layout();
              height: 50%;
            }
          }


          >div:first-child {
            @include flex_basic_layout(column, flex-start, flex-start);
          }

          >div:last-child {
            @include flex_basic_layout(column, flex-start, flex-end);
          }
        }
      }

    }

    >.red {
      border: 0.5px solid #FFC0CB;
      /* 연한 빨간색 테두리 */
      // box-shadow: 0 0 10px 0.5px #FFC0CB; /* 형광 효과 */
    }

    >.blue {
      border: 0.5px solid #87CEEB;
      /* 하늘색 테두리 */
      // box-shadow: 0 0 10px 0.5px #87CEEB;
    }
  }

  >div:nth-child(3) {
    height: TransPixelToVH(182px);
    @include flex_basic_layout(row, space-between);

    >div:first-child {
      @include MainContainer(486px, 100%);
      @include flex_basic_layout();
      background-color: $color-user-profile-background;

      >div:first-child {
        @include MainContainer(436px, 156px);
        @include flex_basic_layout(row, flex-start);
        @extend %img_plus_detail;
      }
    }

    >div:last-child {
      @include MainContainer(1005px, 100%);
      background-color: $color-user-profile-background;
    }
  }
}

#loading {
  display: none;
  width: min-content;
  height: min-content;

  >img:first-child {
    width: TransPixelToVW(722px);
    object-fit: contain;
  }
}

#alam_text {
  @include flex_basic_layout();
}





#stat::-webkit-scrollbar {
  width: 0px;
}

.LogContainer {
  width: 80vw;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
  grid-template-areas: "result user players";
  background-color: #282830;
  font-size: 15px;
  color: rgb(238, 230, 230);
  margin: 5px 0px 5px 0px;


  >.ResultSection {
    grid-area: result;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(111, 109, 109);
    border-right-width: 0.5px;
    height: 80%;
    margin: auto;
    width: 100%;

    >:nth-child(1) {
      color: rgb(79, 79, 179);
      font-size: 16px;
    }

    >:nth-child(2) {
      color: #A9A9A9;
      font-size: 12px;
    }

    >:nth-child(3) {
      color: #A9A9A9;
    }
  }

  >.UserInfoSection {
    grid-area: user;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    // subSectionTop
    >:nth-child(1) {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 4fr;


      >:nth-child(1) {
        align-self: center;
        margin: auto;
      }

      >:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
      }

      >:nth-child(3) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
      }

      >:nth-child(4) {

        display: grid;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        align-items: center;
        background-color: rgba(79, 87, 112, 0.15);
        border-radius: 5px;
        width: 80%;

        >p:nth-child(1) {
          color: #ffffff;
          font-size: 18px;
        }

        >p:nth-child(2) {
          color: #A9A9A9;
          font-size: 14px;
        }
      }
    }

    // subSectionBottom
    >:nth-child(2) {
      height: 80%;
      width: 90%;
      margin: auto;

      >:nth-child(1) {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-right: 1px solid rgb(111, 109, 109);
        border-right-width: 0.5px;


        align-items: center;

        >img {
          border-radius: 10px;
        }
      }
    }
  }

  >.AllPlayerSection {
    grid-area: players;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    color: #c0c0c1;

    >:nth-child(1) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

      >div {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;

        >img {
          border-radius: 5px;
        }
      }
    }

    >:nth-child(2) {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

      >div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        text-align: center;

      }
    }
  }


}

#league_tier_icon{
  width : 128px
}