/**
* * flex_basic_layout
* * direction이 row 인(=>) flex의 구조이며, 매개변수가 없을시 justify, align-items를 통해 가운데 정렬을 한다.
*/
@mixin flex_basic_layout(
  $direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

//* grid의 구조 열이 2개이며 , 비율을 매개변수로 받음 기본적으로, 1 : 1 비율로 설정되어 있음. place-center에 의해 해당 요소둘은 가운데 배치되게 됨
@mixin grid_column_layout($template: 1fr 1fr) {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: $template;
}

//* grid의 구조 행이 2개이며 , 비율을 매개변수로 받음 기본적으로, 1 : 1 비율로 설정되어 있음. place-center에 의해 해당 요소둘은 가운데 배치되게 됨
@mixin grid_row_layout($template: 1fr 1fr) {
  display: grid;
  place-items: center;
  grid-template-rows: $template;
}

//* 해당 콘테이너의 width, height를 매개 변수 삼아 너비와 높이를 설정한디.
@mixin create_contents_container($width_val, $height_val) {
  width: $width_val;
  height: $height_val;
}
