@use "mixIns";
@use "colors";
@use "fonts";
@use "functions";
@use "border";
@use "gaps";
@use "vars";

// ! 컴파일 이슈 때문에 명시적으로 적어놓은 임포트
@import url(./border.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./functions.css);
@import url(./gaps.css);
@import url(./mixIns.css);
@import url(./vars.css);
@import url(./gaps.css);

body {
  @include mixIns.create_contents_container(100%, 100%);
  overflow-x: vars.$overflow_hidden;
}

.main_container {
  @include mixIns.create_contents_container(100%, 100%);

  // * <header>
  .contents_header {
    @include mixIns.create_contents_container(100vw, 5vh);

    // * header_navigator justify-content를 start로 설정.
    .header_navigator {
      @include mixIns.flex_basic_layout(row, start);
      @include mixIns.create_contents_container(100%, 100%);

      // * TEAMGG의 Logo 크기를 20% 차지한다.
      .main_logo_container {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(20%, 100%);
        
        //* TeamGG의 LOGO선택시 포인터 변겅.
        > span:first-child {
          cursor: vars.$cursor_pointer;
        }
      }

      //* 아이디 검색창은 총 헤더의 60%를 차지한다.
      .search_bar_container {
        @include mixIns.flex_basic_layout();
        @include mixIns.create_contents_container(60%, 100%);

        //* search 레이아웃 Wrapper부분.
        .search_form {
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(75%, 100%);

          //* 실질적인 search에 관한 Container. dirction의 row이며 가운데 정렬이 되도록함.
          .form_contents_container {
            @include mixIns.flex_basic_layout();
            @include mixIns.create_contents_container(90%, 80%);

            // * 국가 선택 창에 해당됨. 부모의 20%의 너비를 차지하고 높이는 100%을 차지
            .form_contents_container_first_div {
              @include mixIns.flex_basic_layout();
              @include mixIns.create_contents_container(20%, 100%);

              > select:first-child {
                @include mixIns.create_contents_container(90%, 100%);
                cursor: vars.$cursor_pointer;
              }
            }

            //* 서버 선택 창과 아이디 검색 창의 구분선
            .form_contents_container_second_div {
              @include mixIns.flex_basic_layout();
              @include mixIns.create_contents_container(3%, 80%);
            }

            //* 아이디 검색 창.
            .form_contents_container_third_div {
              @include mixIns.flex_basic_layout();
              @include mixIns.create_contents_container(70%, 80%);

              > input:first-child {
                @include mixIns.create_contents_container(100%, 80%);
              }
            }

            //* 돋보기 아이콘
            .form_contents_container_fourth_div {
              @include mixIns.flex_basic_layout();
              @include mixIns.create_contents_container(7%, 80%);

              > i:first-child {
                @include mixIns.flex_basic_layout();
                @include mixIns.create_contents_container(70%, 80%);
                cursor: vars.$cursor_pointer;
              }
            }
          }
        }
      }
    }
  }

  // * <main>
  .contents_main {
    @include mixIns.flex_basic_layout();
    @include mixIns.create_contents_container(100%, 92vh);
    margin-top: 3vh;

    //* .sections_container는 열을 2개 가진다. 1fr, 1fr ( 유저 정보, 매칭 )
    .sections_container {
      @include mixIns.grid_column_layout();
      @include mixIns.create_contents_container(90%, 100%);

      //* 유저 정보에 해당. dicrection column으로 설정.
      > section:first-child {
        @include mixIns.flex_basic_layout(column);
        @include mixIns.create_contents_container(100%, 100%);

        //* 유저 정보를 한번 더 감싼다
        .left_section_container {
          @include mixIns.flex_basic_layout(column, start, center);
          @include mixIns.create_contents_container(90%, 100%);
          > div {
            margin: gaps.$gap10;
          }

            /**
            * * 2024.05.05 황재민
            * * User Profile 작업
            */
          .user_name_container {
            @include mixIns.flex_basic_layout(row,start);
            @include mixIns.create_contents_container(90%, 15%);
    
            //* Profile 이미지 영역
            //* UserProfile이미지를 위한 Wrapper입니다.
            > div:first-child{
              @include mixIns.create_contents_container(auto, 90%);
              box-sizing: border-box;
              aspect-ratio: 1 / 1;
              padding: gaps.$gap10;

              > img:first-child{
                background-color: white;
                width: 100%;
                height: 100%;
              }
            }

            //* 전시즌 티어, 유저이름 + 태그, 갱신시간 표시를 위한 영역
            > div:last-child{
              @include mixIns.create_contents_container(50, 90%);
              @include mixIns.flex_basic_layout(column,start,start);

              > div:nth-child(1){
                @include mixIns.create_contents_container(auto,25%); 
                @include mixIns.flex_basic_layout(row, start);
                
                //* 티어 정보를 표시하는 레이아웃
                > .tier_info{
                    @include mixIns.create_contents_container(auto, 60%);
                    @include mixIns.flex_basic_layout();

                    background-color: colors.$color-rank-tier-gold;
        
                  > p {
                    margin: 0;
                    margin-block-start: 0.1rem;
                    margin-block-end: 0;
                    margin-inline-start: 0.5rem;
                    margin-inline-end: 0.5rem;
                    font-size: fonts.$font-size10;
                  }
                }
              }

              //* 유저이름과 갱신시간 영역, 첫 번째 p는 유저이름과 태그, 두 번째 p는 갱신시간을 표시한다.
              > div:nth-child(2){
                @include mixIns.create_contents_container(auto,64%);
                @include mixIns.flex_basic_layout(column, start, start);
                > p:first-child {
                  margin: 0;
                  font-size: fonts.$font-size30;
                  white-space: nowrap;
                }
                > p:last-child {
                  margin: 0;
                  font-size: fonts.$font-size10;
                }
              }
            }            
          }

          // //* user_name 과 user_infor의 구분선.
          // .left_section_border_line {
          //   @include mixIns.create_contents_container(90%, 0.125rem);
          //   margin: vars.$margin0;
          // }
          
          //* User의 Tier정보와 승률이 적혀있는 Container
          .user_tier_container{
            @include mixIns.create_contents_container(90%, 15%);
            @include mixIns.flex_basic_layout(row,start);

            //* Tier Image Wrapper
            > div:first-child{
              @include mixIns.create_contents_container(auto, 90%);
              box-sizing: border-box;
              aspect-ratio: 1 / 1;
              padding: gaps.$gap10;

              > img:first-child{
                background-color: colors.$color-contents-main;
                width: 100%;
                height: 100%;
              }
            }

            //* 티어점수와 승률이 적혀있는 영역
            > div:last-child{
              @include mixIns.create_contents_container(50%, 90%);
              @include mixIns.flex_basic_layout(column,center,start);
              
              //* 티어, 티어점수.
              div{
                > div {
                  display: inline;
                }
                //* 현재 티어
                > div:first-child{
                  font-size: fonts.$font-size30;
                }
                //* 티어 점수
                > div:last-child{
                  margin-inline-start: gaps.$gap10;
                  font-size: fonts.$font-size15;
                }
                
              }

              //* 승률
              div{
                font-size: fonts.$font-size10;
              }
            }
          }

          //* 모스트 챔피언 리스르 
          .user_champion_list{
            @include mixIns.create_contents_container(90%, auto);
            // @include mixIns.flex_basic_layout(column);
            display: inline-block;

            > div{
              @include mixIns.create_contents_container(auto,60px);
              @include mixIns.flex_basic_layout(row, start,center);

              //* Image Wrapper , Champion Image
              > div:first-child{
                @include mixIns.create_contents_container(auto,100%);
                box-sizing: border-box;
                padding: gaps.$gap10;
                flex-grow: 0;
                //* Champion Image
                > Img:first-child{
                  height: 100%;
                  aspect-ratio: 1/1;
                  background-color: colors.$color-contents-main;
                  object-fit: contain;
                }
              }
              
              > div:nth-child(2){
                @include mixIns.create_contents_container(auto, 100%);
                @include mixIns.flex_basic_layout();
                flex-grow: 1;
              }

              //* Kda 평점
              > div:nth-child(3){
                @include mixIns.create_contents_container(auto, 100%);
                @include mixIns.flex_basic_layout(column,center,center);
                margin: 0 auto;
                flex-grow: 1;
                > div:first-child{

                }
                > div:last-child{

                }
              }
              
              //* 승률
              > div:nth-child(4){
                @include mixIns.flex_basic_layout(column,center,center);
                @include mixIns.create_contents_container(auto, 100%);
                flex-grow: 1;
                > div::first-child{

                }
                > div:last-child{

                }
              }         
            }
          }

          .board_for_user {
            @include mixIns.create_contents_container(100%, 30%);
            background-color: gold;
          }
        }
      }

      // * 오른쪽 구역.
      > section:nth-child(2) {
        @include mixIns.flex_basic_layout(row, start);
        @include mixIns.create_contents_container(100%, 100%);

        //* space-between으로 설정 align-item을 start로 설정하여 Left 영역과 간격을 줄암.
        .right_section_left_container {
          @include mixIns.flex_basic_layout(column, space-between, start);
          @include mixIns.create_contents_container(60%, 100%);

          //* 매치 정보
          .game_record {
            position: relative;
            @include mixIns.flex_basic_layout(row);
            @include mixIns.create_contents_container(100%, 19%);
            background-color: aliceblue;

            //* position을 absolute로 설정하여, 부모 기준으로 top, left를 0으로 설정 왼쪽 위 모서리에 위치하게 한다. 
            //* z-index를 1로 설정하여 .shadow_game_record보다 앞에 쌓이게 한다.
            .main_game_record {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              @include mixIns.flex_basic_layout(row);
              @include mixIns.create_contents_container(95%, 80%);
              background-color: colors.$color-for-win-record;
            }

            //* position을 absolute를 설정하여, 부모 기준으로 bottom, right를 0으로 설정하여 오른쪽 아래 모서리에 위치하게 한다.
            //* z-index를 0로 설정하여 .main_game_record의 밑에 있게 한다.
            .shadow_game_record {
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 0;
              @include mixIns.flex_basic_layout(row);
              @include mixIns.create_contents_container(95%, 80%);
              background-color: rgb(175, 175, 175);
            }
          }
        }
        .right_section_right_space {
          @include mixIns.flex_basic_layout();
          @include mixIns.create_contents_container(40%, 100%);
          background-color: red;

          .div_for_ad {
            @include mixIns.create_contents_container(80%, 60%);
            background-color: white;
          }
        }
      }
    }
  }
}
