@charset "UTF-8";
@import url(./modules/border.css);
@import url(./modules/colors.css);
@import url(./modules/fonts.css);
@import url(./modules/functions.css);
@import url(./modules/gaps.css);
@import url(./modules/mixIns.css);
@import url(./modules/vars.css);
/* 
todo, 색 변수를 또 가르면 ? 
* -> h1 태그에 전부 $color-black-font로 처리했으면 다른 색으로 바꿀 때 싹 다 바꿔야됨
? -> EX) test_h1 { color: $color-black-font } ... test_h10 { color: $color-black-font }
* -> 갈랐을 때 ?
? -> EX) $h1: $color-black-font -> test_h1 { color: $h1 } ... test_h10 { color: $h1 }

 */
.header_navigator {
  background-color: rgba(151, 50, 50, 0.589);
}

.form_contents_container {
  background-color: rgb(211, 211, 211);
}
.form_contents_container .form_contents_container_first_div_select {
  background-color: rgb(211, 211, 211);
}
.form_contents_container .form_contents_container_third_div .search_form_input {
  background-color: rgb(211, 211, 211);
}

.menus_container {
  color: white;
}

.left_section_border_line {
  background-color: rgb(165, 165, 165);
}

.class_for_win_record {
  background-color: rgb(103, 138, 235);
}

.class_for_lose_record {
  background-color: rgb(255, 68, 68);
}

.main_logo_container {
  color: white;
  font-size: 1.5625rem;
  font-weight: 600;
}

.form_contents_container_first_div_select {
  text-align: center;
  font-size: 1.25rem;
}

.form_contents_container_second_div > span:first-child {
  font-weight: 600;
}

.form_contents_container {
  border: none;
  border-radius: 0.4375rem;
}
.form_contents_container .form_contents_container_first_div > select:first-child {
  border: none;
  outline: none;
}
.form_contents_container .form_contents_container_first_div > select:first-child > option {
  border: none;
  outline: none;
}
.form_contents_container .form_contents_container_third_div > input:first-child {
  outline: none;
  border: none;
}
.left_section_border_line {
  border: none;
}

.game_record .main_game_record {
  border-radius: 0.4375rem;
}
.game_record .shadow_game_record {
  border-radius: 0.4375rem;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main_container {
  width: 100%;
  height: 100%;
}
.main_container .contents_header {
  width: 100vw;
  height: 5vh;
}
.main_container .contents_header .header_navigator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main_container .contents_header .header_navigator .main_logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.main_container .contents_header .header_navigator .main_logo_container > span:first-child {
  cursor: pointer;
}
.main_container .contents_header .header_navigator .menus_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.main_container .contents_header .header_navigator .menus_container > ul:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main_container .contents_header .header_navigator .menus_container > ul:first-child > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.main_container .contents_header .header_navigator .menus_container > ul:first-child > li > span {
  cursor: pointer;
}
.main_container .contents_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}
.main_container .contents_main section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}
.main_container .contents_main section:first-child .search_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_first_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_first_div > select:first-child {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_second_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3%;
  height: 80%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_third_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_third_div > input:first-child {
  width: 100%;
  height: 80%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_fourth_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 80%;
}
.main_container .contents_main section:first-child .search_form .form_contents_container .form_contents_container_fourth_div > i:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
  cursor: pointer;
}