.form_contents_container {
  border: none;
  border-radius: 0.4375rem;
}
.form_contents_container .form_contents_container_first_div > select:first-child {
  border: none;
  outline: none;
}
.form_contents_container .form_contents_container_first_div > select:first-child > option {
  border: none;
  outline: none;
}
.form_contents_container .form_contents_container_third_div > input:first-child {
  outline: none;
  border: none;
}